
        
          
             .HeaderA{
                color: black;
                height: 3mm;};
    
            .HeaderB{ 
                 color: red;
                 height :1mm ;
                 width: 80px;};
                 

                 