    body{  /* Content to display more clearly */
    background-color: wheat;
    margin: auto;
    }


    section{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    main{  
        /* Seperate content from other semantic elements */
        color: cornsilk;
        padding-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        border-style: solid;
        border-width: 5px;
        border-left-width: 261px;
        border-right-width: 35px;
        border-color:rgba(165, 42, 42, 0.423);
        border-radius: 10px 20px 30px 30px;
        background-color: wheat;
        background-image: url(../Images/scroll.jpg);
        background-position: 100%;
        background-size: cover;
        z-index: 1;
        }     

    #sideMenu{ 
        /* Styling for Side-Navigation bar */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: larger;
        position: sticky;
        display: flexbox;
        flex-direction: row;
        border-color: black;
        background-color: rgba(165, 42, 42, 0.571)!important;
        border-style: solid;
        border-width: 5%; 
        width: 260px;
        height: 30%;
        top: 0;
        float:left; 
    } 
    

.headerA{
    text-align: center;
    font-size: 29px !important;
    padding-bottom: 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    color: brown;
    height: 6mm;
    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
    }
    
.headerB{ 
    text-align: center  !important;
    padding-left: 25%;
    padding-bottom: 10px;
    text-decoration:underline;
    font-size: 150%;
    font-style: italic;
    font-weight: 20px !important; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(32, 2, 2);
    height :7mm ;
    width: 80px;
    line-height: 25px;
    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;}

    h2{ font-size: xx-large;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
        text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
    }

    h3{ font-size: xx-small;
        padding-top: 4px;
        padding-bottom: 4px;
        color: black !important;
    }
    
.websiteStyle{ 
    /* Websites to appear different than text content */
    color: green;
    font-style: italic;}
 

a:hover{
    background-color: lightgray;
    color: black;
}

/* Styling for "clickables" */
a:visited{
    color: blueviolet;
}

a{
    color: rgb(47, 3, 12) !important;
}

section { /* Visibly acknowlage each section of content provided */
    padding-bottom: 5px;
    color: cornsilk;
}

button {
    color: aliceblue;
    background-color: darkslategray;
    bottom: 0;
    text-align: center;
    
}
/* styling for different screen size */
@media screen and (max-width : 360px) {
     main {
        color: cornsilk;
        width: 100%;
        margin: auto;
        border-width: 1px;
        font-size: smaller;
        height: auto;
        float: left !important;}
        
       #sideMenu{
        position: relative;}
    }
    

@media screen and (max-width : 768px) {
    body {
       width: 100%;
       text-transform: capitalize;
       font-size: large;}
    }

@media screen and (min-width : 769px) {
       body {
           height: auto;
           width: 100%;
           text-shadow: 2px;
           font-size:x-large;
           margin: auto; }

           section {
            text-align: left;}
    }
       

header{ 
    /* Top styling */
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgba(80, 35, 3, 0.411)!important;
    padding-bottom: 8px;
    border: black;
    border-style: double;
    border-width: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#photographOfMe { 
    /* Styling for Headshot */
    background-color: black;
    min-height: 99%;
    min-width: 99%;
    border: 100%;
}


footer{
    /* Styling bottom */
    padding-top: 5px;
    background-color: rgba(80, 35, 3, 0.411)!important;
    padding-bottom: 4px;
    border: black;
    border-style: double;
    border-width: 8px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    text-align: center !important;
    font-size: larger; 
}


@keyframes iconanimate { 
     /* animate icons */
    0% {transform: rotateX (0deg);
        background-color: black;}
    25% {transform: rotateY(90deg);
        background-color: purple;}
    50% {background-color: white;
         transform: scale(80%);}
    75% {transform: rotateX(270deg);
        background-color: blue;}
    100% {transform: translateY(-20%);
        background-color: darkred;}
    
    } 

.icons{ 
    /* Styling icon appearance */
    border-radius: 45%;
    width: 40px;
    height: 40px;
    border: solid;
    border-width: 6px;
    padding: 5px;
    animation-name: iconanimate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}






        